<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'dailydigestif/img/newspaper.png' %}"/>
    <link rel="stylesheet" href="{% static 'dailydigestif/styles/bootstrap.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dailydigestif/styles/styles.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
<header>
    <div class="pt-2 border border-black border-bottom-3 header-footer">
        <div class="container">
            <div class="row pb-2">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <h1><a class="navbar-brand" href="/">DailyDigest</a></h1>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    {% if user.is_authenticated %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "news" %}">Mes nouvelles</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "profile" %}">{{ user.username }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "loging_out" %}">Se déconnecter</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "login" %}">Se Connecter</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "register" %}">S'inscrire</a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "search_news" %}"><img
                                                src="{% static "dailydigestif/img/search.png" %}" width="20px"
                                                height="20px"/></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            Catégories
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for item in category %}
                                                <form action="{% url "index" %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="category" value="{{ item.value }}">
                                                    <button type="submit"
                                                            class="dropdown-item btn-link">{{ item.name }}</button>
                                                </form>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="flex-grow-1">
    <div class="pt-3">
        {% block content %}{% endblock %}
    </div>
</main>
<footer class="pt-3 border border-top-3 border-black">
    <div class="container mt-2 pb-2">
        <div class="row text-center">
            <p class="col">Fait par Keven Huard-Dubé et Gabriel Auger</p>
            <p class="col">Cégep Garneau - Technique de l'informatique 2024</p>
        </div>
    </div>
</footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</html>
