{% extends "dailydigestif/base.html" %}
{% load static %}
{% block title %}Explorez, Épinglez, Partagez.{% endblock %}
{% block content %}
    <div class="container p-4">
        <h2 class="mb-4 text-center border-top border-bottom border-2 border-black">Explorez, Épinglez, Partagez.</h2>
        <h3 class="text-center">DailyDigest, Votre Monde d'Actualités, en un regard.</h3>
        <div class="row">
            {% if news %}
                {% for n in news %}
                    <div class="col-md-6 mb-4 d-flex align-items-stretch">
                        <div class="card w-100">
                            {% if n.urlToImage != "None"%}
                                <img class="card-img-top" src="{{ n.urlToImage }} " alt="Image de {{ n.title }}">
                            {% endif %}
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div class="mb-4">
                                    <h5 class="card-title">{{ n.title }}</h5>
                                    {% if n.description != "None" %}
                                        <p class="card-text">{{ n.description }}</p>
                                    {% endif %}
                                    <p class="card-text">Publié le: {{ n.publishedAt }}</p>
                                    <p class="card-text">Auteur: {{ n.author }}</p>
                                    <p class="card-text">Source: {{ n.source }}</p>
                                </div>
                                <div>
                                    <a href="{{ n.url }}" class="btn btn-secondary mb-2">Continuer à lire</a>
                                    {% if user.is_authenticated %}
                                        <form action="{% url "pin" %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="info" value="{{ n.info }}">
                                            <button type="submit" class="btn btn-secondary">Épingler</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Aucun article trouvé.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}