{% extends "dailydigestif/base.html" %}
{% load static %}
{% block title %}Connexion{% endblock %}
{% block content %}
    <div class="container p-4">
        <h2 class="mb-4 text-center border-top border-bottom border-2 border-black">Connexion</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_div }}
            <button class="btn btn-secondary mt-3" type="submit">Soumettre</button>
        </form>
    </div>
{% endblock %}