{% extends "dailydigestif/base.html" %}
{% block title %}Mes nouvelles{% endblock %}
{% block content %}
    <div class="container p-4">
        <h2 class="mb-4 text-center border-top border-bottom border-2 border-black">Mes nouvelles</h2>
        <h3 class="text-center">Nouvelles épinglées</h3>
        <div class="row">
            {% if pinned %}
                {% for p in pinned %}
                    <div class="col-md-6 mb-4 d-flex align-items-stretch">
                        <div class="card w-100">
                            {% if p.urlToImage %}
                                <img class="card-img-top" src="{{ p.urlToImage }} " alt="Image de {{ p.title }}">
                            {% endif %}
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div class="mb-4">
                                    <h5 class="card-title">{{ p.title }}</h5>
                                    {% if p.description %}
                                        <p class="card-text">{{ p.description }}</p>
                                    {% endif %}
                                    <p class="card-text">Publié le: {{ p.publishedAt }}</p>
                                    <p class="card-text">Auteur: {{ p.author }}</p>
                                    <p class="card-text">Source: {{ p.source }}</p>
                                </div>
                                <div>
                                    <a href="{{ p.url }}" class="btn btn-secondary mb-2">Continuer à lire</a>
                                    <form action="{% url "unpin" %}" method="post" class="mb-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ p.id }}">
                                        <button type="submit" class="btn btn-secondary">Désépingler</button>
                                    </form>
                                    <a class="btn btn-secondary" href="{% url "share" p.id %}">Partager</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Il n'a pas de nouvelles pour le moment.</p>
            {% endif %}
        </div>
        <h3 class="text-center">Nouvelles partagées par des amis</h3>
        <div class="row">
            {% if shared %}
                {% for s in shared %}
                    <div class="col-md-6 mb-4 d-flex align-items-stretch">
                        <div class="card w-100">
                            {% if s.urlToImage %}
                                <img class="card-img-top" src="{{ s.urlToImage }} " alt="Image de {{ s.title }}">
                            {% endif %}
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div class="mb-4">
                                    <h5 class="card-title">{{ s.title }}</h5>
                                    {% if s.description %}
                                        <p class="card-text">{{ s.description }}</p>
                                    {% endif %}
                                    <p class="card-text">Publié le: {{ s.publishedAt }}</p>
                                    <p class="card-text">Auteur: {{ s.author }}</p>
                                    <p class="card-text">Source: {{ s.source }}</p>
{#                                    <p class="card-text">Commentaire de l'ami: {{  }}</p>#}
                                </div>
                                <div>
                                    <a href="{{ s.url }}" class="btn btn-secondary mb-2">Continuer à lire</a>
                                    <form action="{% url "unpin_share" %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id_shared" value="{{ s.id }}">
                                        <button type="submit" class="btn btn-secondary">Désépingler</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Il n'a pas de nouvelles pour le moment.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}