{% extends "dailydigestif/base.html" %}
{% load static %}
{% block title %}Profil{% endblock %}
{% block content %}
    <div class="container px-lg-5 align-content-center">
        <div class="card">
            <div class="card-header text-secondary">Profil utilisateur</div>
            <div class="card-body bg-light d-sm-flex px-lg-5">
                <img src="{{ user.avatar }}" class="px-lg-4 px-sm-1 px-md-2" alt="profile pic"/>
                <div class="flex-column">
                    <h4 class="pt-5 fw-bold">{{ user.username }}</h4>
                    <h6>{{ user.email }}</h6>
                    <p>Date d'adhésion : {{ user.date_joined }}</p>
                    <a href="{% url "search_friends" %}" class="btn btn-primary">Rechercher des amis</a>
                </div>
            </div>
            <h4 class="px-5 py-3">invitations d'amis</h4>
            <div class="px-5 pb-3">
                {% for fr in friendship_requests %}
                    <form method="post" class="py-2 d-flex">
                        {{ fr.friend.username }}
                        {% csrf_token %}
                        <input type="hidden" name="friendship" value="{{ fr }}">
                        <button type="submit" class="btn btn-primary py-0">Accepter</button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}