{% extends "dailydigestif/base.html" %}
{% load static %}
{% block title %}Inscription{% endblock %}
{% block content %}
    <div class="container p-4">
        <h2 class="mb-4 text-center border-top border-bottom border-2 border-black">Inscription</h2>
        <form class="container" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_div }}
            <div class="form-group">
                <label for="upload">Photo de profil : </label>
                <input required type="file" id="upload" name="upload" accept="image/*">
            </div>
            <button class="btn btn-secondary" type="submit">Soumettre</button>
        </form>
    </div>
{% endblock %}