{% extends "dailydigestif/base.html" %}
{% block title %}Rechercher des amis{% endblock %}
{% block content %}

    <div class="container p-4">
        <h2 class="mb-4 text-center border-top border-bottom border-2 border-black">Recherche d'amis</h2>
        <div class="w-100 pb-4">
            <form action="{% url 'search_friends' %}" method="get">
                <div class="input-group justify-content-center">
                    <input type="text" name="search" class="search focus-ring rounded-start-2 w-25 ps-2"
                           value="{{ request.GET.search }}" placeholder="Rechercher..." required>
                    <button type="submit" class="btn-primary btn">rechercher</button>
                </div>
            </form>
        </div>
        {% if users %}
            <div class="pt-md-2">
                {% for u in users %}
                    <div>
                        <form action="{% url 'search_friends' %}" method="post" class="mb-2 row">
                            <div class="col-2"></div>
                            <h6 class="col-4 text-center ms-2 fw-bold">{{ u.username }}</h6>
                            {% csrf_token %}
                            <input name="add_friend" type="hidden" value="{{ u.id }}">
                            <button type="submit" class="btn btn-secondary py-0 col-2">Ajouter comme ami</button>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}