{% extends "dailydigestif/base.html" %}
{% load static %}
{% block title %}Partager une nouvelle{% endblock %}
{% block content %}
    <div class="container p-4">
        <h2 class="mb-4 text-center border-top border-bottom border-2 border-black">Partager une nouvelle</h2>
        <div class="mb-4 d-flex align-items-stretch">
            <div class="card w-100">
                {% if news.urlToImage %}
                    <img class="card-img-top" src="{{ news.urlToImage }} " alt="Image de {{ news.title }}">
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="mb-4">
                        <h5 class="card-title">{{ news.title }}</h5>
                        {% if news.description != "None" %}
                            <p class="card-text">{{ news.description }}</p>
                        {% endif %}
                        <p class="card-text">Publié le: {{ news.publishedAt }}</p>
                        <p class="card-text">Auteur: {{ news.author }}</p>
                    <p class="card-text">Source: {{ news.source }}</p>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
        {% csrf_token %}
        <div>
            <label for="friends">Choisir un ami :</label>
            <select name="friend" id="friends" required>
                <option value="" disabled selected>Sélectionner un ami</option>
                {% for friend in friends %}
                    <option value="{{ friend.id }}">{{ friend.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="comment">Ajouter un commentaire :</label>
            <textarea name="comment" id="comment" rows="3" required></textarea>
        </div>
        <button type="submit">Partager</button>
    </form>
    </div>
{% endblock %}
